
@font-face {
    font-family: "Hubballi-Regular";
    src: url('/Users/yongcho/Downloads/Hubballi/Hubballi-Regular.ttf') format('truetype');
}
.header {
    
    height: 60px;
    text-align: center;
    font-family: "Hubballi-Regular";
    
    font-size: xx-large;
    margin: 20%;
    margin-bottom: 50px;
    margin-top: 70px;
    padding-bottom: 50px;
    
    width : 60%;
    border-bottom: 1px solid #d3d1d1;
    
    
}

.container {
	display: grid;
    justify-content: center;
	grid-template-columns: 70%;
	grid-template-rows: 150px 150px 150px;
}
	
.item1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #d3d1d1;
    font-family: "Hubballi-Regulary";
    text-align: center;
}

.item2{
    font-family: "Hubballi-Regulary";
    font-size: x-large;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

.item3{
    text-decoration-line: none;
    text-emphasis-color: gray;
}
.search_btn {
    position: relative;
    
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family:"Hubballi-Regulary";
    
    text-decoration: 1px solid black;
    font-weight: 600;
    transition: 0.25s;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

